<aside class="w-[220px] bg-navy text-gray-100 h-screen flex flex-col items-center pt-8 shadow-lg font-mono">
	<div class="font-bold text-2xl mb-10 text-accent tracking-wide drop-shadow-lg">GPA Advisor</div>
						<ng-container *ngFor="let item of navItems">
								<button
									(click)="goToPage(item)"
									[ngClass]="{
										'bg-dark text-white font-bold shadow-accent shadow-md': currentPage === item.key,
										'bg-transparent text-gray-100': currentPage !== item.key
									}"
									class="w-11/12 py-3 px-6 my-2 rounded-lg text-lg transition-all font-mono outline-none hover:bg-accent hover:text-white hover:shadow-lg"
								>
									{{ item.label }}
								</button>
						</ng-container>
</aside>
