<aside class="w-[220px] bg-navy text-gray-100 h-screen flex flex-col items-center pt-4 shadow-lg font-mono">
  <div class="mb-2 flex items-center justify-center w-2/3">
    <img src="gpaadvlogo.svg" alt="Sidebar Logo"/>
  </div>
  @for (item of navItems; track item) {
    <button
      (click)="goToPage(item)"
									[ngClass]="{
										'bg-dark text-white font-bold shadow-accent shadow-sm': getCurrentRouteKey() === item.key,
										'bg-transparent text-gray-100': getCurrentRouteKey() !== item.key
									}"
      class="w-11/12 py-3 px-6 my-2 rounded-lg text-lg transition-all font-mono outline-none hover:bg-accent hover:text-white hover:shadow-lg"
      >
      {{ item.label }}
    </button>
  }
</aside>
